body{
    background-color: skyblue;
    padding: 0;
    
}

section h1{
    font-size: 60px;
    color:green;
    min-width: 10vh;
    min-height: 10vh;
    background-color: aquamarine;
}

h1{
    font-size: 90px;
    text-transform: lowercase;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

section p {
    color:blue;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

section > p {
    color: red;
    text-align: right;

}

p{
    color:black;
    text-align: center;
}

/*
section h1 + p {

    color:blueviolet;
    text-align: center;
}
*/

section h2  + p{
    color: green;
    text-align: left;

}

/*
son cosas distintas(arriba) 
el + es solo para el siguiente 

~ es para todos ...
*/